.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  left: -6px;
  top: -6x;

  img {
    width: 24px; // Adjust size as needed
    height: 24px;
    //transform-origin: top left; // Set rotation point to top-left corner
  }
}
