<div class="container">

  <footer class="footer">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <img loading="lazy" ngSrc="/footer-section/BEST-logo.svg" width="160" height="48" alt="logo" class="footer__logo-img">
      </div>
      <div class="footer__socials">
        <a class="footer__social" href="https://www.instagram.com/best_lviv?igsh=MzRlODBiNWFlZA==" target="_blank">
          <img loading="lazy" ngSrc="/footer-section/instagram.svg" height="47" width="47" alt="Instagram"
               class="footer__social-icon">
        </a>
        <a class="footer__social" href="https://t.me/bestlviv" target="_blank">
          <img loading="lazy" ngSrc="/footer-section/telegram.svg" height="47" width="47" alt="Telegram"
               class="footer__social-icon">
        </a>
        <a class="footer__social" href="https://www.linkedin.com/company/bestlviv/" target="_blank">
          <img loading="lazy" ngSrc="/footer-section/linkedin.svg" height="47" width="47" alt="LinkedIn"
               class="footer__social-icon">
        </a>
      </div>
      <div class="footer__year">2024</div>
    </div>

  </footer>
</div>
