@function adaptive-size($pcSize, $mobSize, $maxWidth: 1536, $minWidth: 390) {
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}


.container {
  height: adaptive-size(142, 87);
  background: var(--color-black);
  max-width: 100%;

}


.footer {
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(46, 20, 107, 0.87),
      rgba(6, 3, 24, 0.72)
  );

  &__wrapper {
    padding: 0 25px;
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: adaptive-size(148, 91);
  }

  &__logo-img {
    width: 100%;
    height: auto;
  }

  &__year {
    font-family: "Work Sans", sans-serif;
    text-align: right;
    font-size: adaptive-size(32, 20);
    font-weight: 700;
    color: var(--color-white);
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: adaptive-size(38, 17);
  }

  &__social {
    width: adaptive-size(46, 20);
    height: auto;

    :hover {
      opacity: 0.8;
    }
  }

  &__social-icon {
    width: 100%;
    height: auto;
  }
}
