<div class="marquee">
  <div class="marquee-content scroll">
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
  </div>
  <div class="marquee-content scroll">
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
    <div>09.09 - 13.09</div>
    <div>1 корпус НУ "ЛП"</div>
  </div>
</div>

