@function adaptive-size($pcSize, $mobSize, $maxWidth: 1536, $minWidth: 320) {
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}


$gap: adaptive-size(70, 30);

.marquee {
  background-color: var(--color-white);
  height: adaptive-size(50, 25);
  display: flex;
  overflow: hidden;
  gap: $gap;
  position: relative;
  user-select: none;
  z-index: 10;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  gap: $gap;
  font-family: 'Gilroy', sans-serif;
  font-size: adaptive-size(19, 8);
  font-weight: 900;
  font-style: normal;
  color: var(--color-black);

}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - $gap));
  }
}

.scroll {
  animation: scroll 85s linear infinite;
}
