//треба, щоб у мобільному варіанті після кліку меню скривалось
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 15px 0;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(97, 9, 209, 0.5);
  }
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 45px;
}

nav {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-left: 77px;
      a {
        font-family: "Work Sans", sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: var(--color-white);
        transition: color 0.3s ease, text-shadow 0.3s ease;
        cursor: pointer;

        &:hover, &.active {
          color: var(--color-light-purple);
          text-shadow: 0 0 10px rgba(160, 32, 240, 0.7);
        }

      }
    }
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;

  span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
    transition: 0.4s;
  }
}

@media (max-width: 870px) {
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.8);
    transition: 0.5s;

    &.active {
      right: 0;
    }

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      li {
        margin: 1rem 0;
      }
    }
  }

  .hamburger {
    display: flex;
    z-index: 100;
  }
}
