<header [ngClass]="{'scrolled': isScrolled}">
  <div class="container">
    <div class="header">
      <div class="logo">
        <img ngSrc="btw-logo.svg" alt="Logo" height="45" width="139">
      </div>
      <nav [class.active]="isMenuOpen" #nav>
        <ul>
          <li><a [ngClass]="{'active': activeSection === 'hero'}" (click)="scrollTo('hero')">Про нас</a></li>
          <li><a [ngClass]="{'active': activeSection === 'speakers'}" (click)="scrollTo('speakers')">Спікери</a></li>
          <li><a [ngClass]="{'active': activeSection === 'organizers'}" (click)="scrollTo('organizers')">Організатори</a></li>
          <li><a [ngClass]="{'active': activeSection === 'gallery'}" (click)="scrollTo('gallery')">Галерея</a></li>
        </ul>
      </nav>
      <div class="hamburger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
