<app-star-background></app-star-background>
<div id="hero" class="fullscreen-container">
<div class="container">
  <div class="top-line">
    <div class="star">
      <img src="star_hero.png" alt="star">
    </div>
    <div class="line"></div>
    <div class="text-come">COME</div>
  </div>

  <h1>BEST TRAINIG WEEK</h1>

  <div class="bottom-line">
    <div class="text-with">WITH</div>
    <div class="line"></div>
    <div class="star">
      <img src="star_hero.png" alt="star">
    </div>
  </div>

  <p class="description">Пошук можливостей завжди приводить до їх виявлення.</p>

  <button class="explore-btn">EXPLORE</button>
</div>
</div>
