


<div class="container" id="speakers">
  <div class="for-link" ></div>
  <div class="speakers blurred-content">
    <h3 class="speakers__header">СПІКЕРИ</h3>
    <div class="speakers__swiper">
      <app-speakers-swiper></app-speakers-swiper>
    </div>
  </div>
  <div class="coming-soon">COMING SOON</div>
</div>




<!--<div class="container" >-->
<!--  <div class="for-link" id="speakers"></div>-->
<!--  <div class="speakers">-->
<!--    <h3 class="speakers__header">СПІКЕРИ</h3>-->
<!--    <div class="speakers__swiper">-->
<!--      <app-speakers-swiper></app-speakers-swiper>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
