@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Segment A Key Trial Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SegmentAKeyTrial-Bold.woff') format('woff');
}

