<div class="container">
  <div class="for-link" id="organizers"></div>
  <div class="organizers">
    <h2 class="organizers__title">ОРГАНІЗАТОРИ</h2>

    <div class="organizers__grid">

      <div class="organizers__item organizers__what-is-best">
        <h3 class="organizers__item-title">Що таке BEST?</h3>
        <p class="organizers__item-text">BEST (Board of European Students of Technology)-міжнародна громадська
          організація, яка забезпечує обмін знаннями та сприяє співробітництву між студентами, компаніями та
          університетами в Європі.
        </p>
      </div>

      <div class="organizers__item organizers__members-photo-1">
        <img class="organizers__item-img" src="/organization-section/m1.jpg" alt="members" loading="lazy">
      </div>

      <div class="organizers__item organizers__best-logo">
        <img class="organizers__item-img" src="/organization-section/BEST-logo.svg" alt="logo" loading="lazy">
      </div>

      <div class="organizers__item organizers__bec-team">
        <img class="organizers__item-img" src="/organization-section/t1.jpg" alt="members" loading="lazy">

      </div>

      <div class="organizers__item organizers__mission">
        <h3 class="organizers__item-title">Місія – розвиток студентів!</h3>
        <p class="organizers__item-text">BEST допомагає студентам досягти міжнародності мислення, кращого розуміння
          культур та народів, а також
          розвинути навички роботи в міжнародному середовищі.
        </p>
      </div>

      <div class="organizers__item organizers__vision">
        <h3 class="organizers__item-title">Візія – сила в різноманітті!</h3>
        <p class="organizers__item-text">Ми розуміємо та поважаємо різні культури та суспільства. Створене середовище
          підтримує будь-яких людей у
          реалізації їхнього потенціалу та відповідальній діяльності
        </p>
      </div>


<!--      є div у якому два блоки тексту і кнопка "дізнатися більше"-->
<!--      перший текст зразу видно. Другий відкривається знизу при натисканні цієї кнопки.-->

<!--      потрібно зробити так, щоб при натиску кнопки, div розширався знизу, показував цей другий текст, а кнопка мінялась-->
<!--      на "сховати"-->
<!--      ще такий нюанс: при ширині екрану більшій за 700px зразу показується два блоки. Тільки при менші має появлятися ця-->
<!--      кнопка, другий текст ховатися і тд-->


      <div class="organizers__item organizers__stats stats">
        <div class="stats__item">
          <h3 class="stats__number">35</h3>
          <p class="stats__description">років</p>
        </div>
        <div class="stats__separator"></div>
        <div class="stats__item">
          <h3 class="stats__number">85</h3>
          <p class="stats__description">осередків</p>
        </div>
        <div class="stats__separator"></div>
        <div class="stats__item">
          <h3 class="stats__number">30</h3>
          <p class="stats__description">країн</p>
        </div>
      </div>

      <div class="organizers__item organizers__events">
        <h3 class="organizers__item-title">Наші івенти</h3>
        <p class="organizers__item-text">Усі заходи організації спрямовані на формування проактивної студентської
          молоді, розвиток їхніх навичок та
          підтримку у професійних починаннях.
        </p>
      </div>

      <div class="organizers__item organizers__i-love-best-lviv-logo">
        <img class="organizers__item-img" src="/organization-section/bestlviv.jpg" alt="logo" loading="lazy">
      </div>

      <div class="organizers__item organizers__members-photo-2">
        <img class="organizers__item-img" src="/organization-section/m2.jpg" alt="members" loading="lazy">
      </div>

      <div class="organizers__item organizers__best-lviv">
        <h3 class="organizers__item-title">BEST Lviv?</h3>
        <p class="organizers__item-text">Осередок BEST Lviv було створено у 2002 році при Національному університеті
          “Львівська політехніка”. Наша
          діяльність полягає у налагодженні зв'язків між Студентами,Компаніями та Університетом. Львівський осередок є
          одним з трьох LBG в Україні (Київ, Львів, Вінниця)
          <br>
          <br>
          Львів був і лишається найбільшим та найпродуктивнішим
          осередком в Україні (беручи до уваги кількість членів організації та щорічних проєктів).
        </p>
      </div>

      <div class="organizers__item organizers__members-photo-3">
        <img class="organizers__item-img" src="/organization-section/m3.jpg" alt="members" loading="lazy">
      </div>

    </div>


    <div class="organizers__buttons">
      <!--      <div class="organizers__button-box">-->
      <a href="https://best.lviv.ua/" class="organizers__button">
        <p class="organizers__button-text">Дізнатися більше</p>
      </a>
      <!--      </div>-->
      <a href="https://best.lviv.ua/" class="organizers__button"><p class="organizers__button-text">Приєднатися</p></a>
    </div>
  </div>
</div>
