<div class="container" id="organizers">
  <div class="for-link"></div>
  <div class="organizers">
    <h2 class="organizers__title">ОРГАНІЗАТОРИ</h2>

    <div class="organizers__grid">

      <div class="organizers__item organizers__what-is-best">
        <h3 class="organizers__item-title">Що таке BEST?</h3>
        <p class="organizers__item-text">
          BEST (Board of European Students of Technology) – громадська організація, яка
          забезпечує обмін знаннями та сприяє співробітництву між студентами, компаніями та університетами в Європі.
        </p>
      </div>

      <div class="organizers__item organizers__members-photo-1">
        <img class="organizers__item-img" src="/organization-section/4m1.jpg" alt="members" loading="lazy">
      </div>

      <div class="organizers__item organizers__best-logo">
        <img class="organizers__item-img" src="/organization-section/BEST-logo.svg" alt="logo" loading="lazy">
      </div>

      <div class="organizers__item organizers__bec-team">
        <img class="organizers__item-img" src="/organization-section/3t1.jpg" alt="members" loading="lazy">

      </div>

      <div class="organizers__item organizers__mission">
        <h3 class="organizers__item-title">Місія – розвиток студентів!</h3>
        <p class="organizers__item-text">
          BEST допомагає студентам досягати цілей, розвивати навички організації подій, комунікації та роботи в
          міжнародному середовищі.
        </p>
      </div>

      <div class="organizers__item organizers__vision">
        <h3 class="organizers__item-title">Візія – сила в різноманітті!</h3>
        <p class="organizers__item-text">
          Ми поважаємо різноманіття та створюємо оточення, яке підтримує реалізацію кожного.
        </p>
      </div>


      <div class="organizers__item organizers__stats stats">
        <div class="stats__item">
          <h3 class="stats__number">35</h3>
          <p class="stats__description">років</p>
        </div>
        <div class="stats__separator"></div>
        <div class="stats__item">
          <h3 class="stats__number">84</h3>
          <p class="stats__description">осередки</p>
        </div>
        <div class="stats__separator"></div>
        <div class="stats__item">
          <h3 class="stats__number">30</h3>
          <p class="stats__description">країн</p>
        </div>
      </div>

      <div class="organizers__item organizers__events">
        <h3 class="organizers__item-title">Наші події</h3>
        <p class="organizers__item-text">
          Усі заходи організації спрямовані на формування проактивної студентської молоді, розвиток їхніх навичок та
          підтримку у професійних починаннях.
        </p>
      </div>

      <div class="organizers__item organizers__i-love-best-lviv-logo">
        <img class="organizers__item-img" src="/organization-section/ibest.jpg" alt="logo" loading="lazy">
      </div>

      <div class="organizers__item organizers__members-photo-2">
        <img class="organizers__item-img" src="/organization-section/4m2.jpg" alt="members" loading="lazy">
      </div>

      <div class="organizers__item organizers__best-lviv">
        <h3 class="organizers__item-title">BEST Lviv</h3>
        <p class="organizers__item-text">
          BEST Lviv, заснований у 2002 році при Національному університеті "Львівська політехніка," є одним із трьох
          осередків BEST в Україні, поряд із Києвом та Вінницею. Львівський осередок залишається найбільшим та
          найактивнішим, регулярно організовуючи численні події.
        </p>
      </div>

      <div class="organizers__item organizers__members-photo-3">
        <img class="organizers__item-img" src="/organization-section/4m3.jpg" alt="members" loading="lazy">
      </div>

      <div class="organizers__item organizers__button organizers__button-1">
        <a href="https://best-lviv.org.ua/" class="organizers__button-link" target="_blank">
          <p class="organizers__button-text">Дізнатися більше</p>
        </a>
      </div>

      <div class="organizers__item organizers__button organizers__button-2">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTcKMiPuStsqNnYsosn4wJmKXgpXpSWuq37gVVEk5OtcaT_w/viewform" class="organizers__button-link" target="_blank">
          <p class="organizers__button-text">Приєднатися</p>
        </a>
      </div>
    </div>


  </div>
</div>
