.container {
  position: relative;
  padding-top: clamp(57px, 57px + 63 * (100vw - 390px) / 810, 120px);
  padding-bottom: clamp(72px, 72px + 106 * (100vw - 390px) / 810, 178px);
  background: #3A1972 url("/organization-section/gridbg.png") left center/cover no-repeat;
  width: 100%;
}

.for-link {
  position: absolute;
  top: -70px;
}

.organizers {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  width: 100%;
  color: white;
}
.organizers__title {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: clamp(28px, 28px + 23 * (100vw - 390px) / 810, 51px);
  color: var(--color-white);
  line-height: 1;
  margin: 0;
  text-align: center;
}
.organizers__grid {
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(32, minmax(0, 1fr));
  grid-auto-rows: minmax(0, auto);
  margin: clamp(36px, 36px + 47 * (100vw - 390px) / 810, 83px) -7.5px 0 -7.5px;
}
.organizers__item {
  margin: 7.5px;
  background-color: var(--color-light-purple);
  overflow: hidden;
  padding: clamp(10px, 10px + 10 * (100vw - 390px) / 810, 20px);
  border-radius: clamp(20px, 20px + 4 * (100vw - 390px) / 810, 24px);
}
.organizers__item-title {
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  font-size: clamp(20px, 20px + 20 * (100vw - 390px) / 810, 40px);
  margin: 0;
  padding: 0;
  line-height: 1;
}
.organizers__item-text {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  margin: 10px 0 0 0;
  line-height: 1.4;
}
.organizers__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 19px;
}
.organizers__what-is-best {
  color: white;
  grid-column: 1/13;
  grid-row: 1;
}
.organizers__what-is-best p {
  margin-top: clamp(10px, 10px + 10 * (100vw - 390px) / 810, 20px);
}
.organizers__members-photo-1 {
  grid-column: 13/33;
  grid-row: 1/3;
}
.organizers__best-logo {
  grid-column: 1/13;
  grid-row: 2;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(9px, 9px + 13 * (100vw - 390px) / 810, 22px);
}
.organizers__best-logo img {
  height: 100%;
  width: auto;
}
.organizers__bec-team {
  grid-column: 13/21;
  grid-row: 3;
}
.organizers__mission {
  background-color: var(--color-white);
  color: var(--color-black);
  grid-column: 1/13;
  grid-row: 3;
}
.organizers__mission p {
  margin-top: clamp(10px, 10px + 20 * (100vw - 390px) / 810, 30px);
}
.organizers__vision {
  background-color: var(--color-white);
  color: var(--color-black);
  grid-column: 21/33;
  grid-row: 3;
}
.organizers__vision p {
  margin-top: clamp(10px, 10px + 20 * (100vw - 390px) / 810, 30px);
}
.organizers__stats {
  grid-column: 1/12;
  grid-row: 4;
}
.organizers__events {
  background-color: var(--color-white);
  color: var(--color-black);
  grid-column: 1/12;
  grid-row: 5;
}
.organizers__events p {
  margin-top: clamp(10px, 10px + 20 * (100vw - 390px) / 810, 30px);
}
.organizers__i-love-best-lviv-logo {
  padding: 0;
  grid-column: 1/12;
  grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.organizers__i-love-best-lviv-logo img {
  width: 100%;
  height: auto;
}
.organizers__members-photo-2 {
  grid-column: 12/33;
  grid-row: 4/7;
}
.organizers__best-lviv {
  grid-column: 1/17;
  grid-row: 7;
}
.organizers__best-lviv p {
  margin-top: clamp(10px, 10px + 20 * (100vw - 390px) / 810, 30px);
}
.organizers__members-photo-3 {
  grid-column: 17/33;
  grid-row: 7/9;
}
.organizers__button-1 {
  grid-column: 1/9;
  grid-row: 8;
}
.organizers__button-2 {
  grid-column: 9/17;
  grid-row: 8;
}
.organizers__button {
  background-color: var(--color-white);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--color-black);
  border-bottom: 10px solid var(--color-black);
  transition: all 0.3s ease;
}
.organizers__button:hover {
  opacity: 0.8;
  scale: 1.01;
}
.organizers__button-link {
  color: var(--color-black);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.organizers__button-text {
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  font-size: clamp(12px, 12px + 8 * (100vw - 390px) / 810, 20px);
  line-height: 1;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats__number {
  font-family: "Gilroy", sans-serif;
  font-size: clamp(34px, 34px + 6 * (100vw - 390px) / 810, 40px);
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
}
.stats__description {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  line-height: 1;
}
.stats__separator {
  flex-grow: 0;
  width: 1px;
  height: 80%;
  background: var(--color-white);
}

@media (max-width: 710px) {
  .organizers__what-is-best {
    grid-column: 1/33;
    grid-row: 1;
  }
  .organizers__members-photo-1 {
    grid-column: 1/33;
    grid-row: 2;
  }
  .organizers__best-logo {
    grid-column: 1/17;
    grid-row: 3;
  }
  .organizers__best-logo img {
    width: 100%;
    height: auto;
  }
  .organizers__bec-team {
    grid-column: 17/33;
    grid-row: 3;
  }
  .organizers__mission {
    grid-column: 1/33;
    grid-row: 4;
  }
  .organizers__mission p {
    margin-top: 10px;
  }
  .organizers__vision {
    grid-column: 1/33;
    grid-row: 5;
  }
  .organizers__vision p {
    margin-top: 10px;
  }
  .organizers__stats {
    grid-column: 1/33;
    grid-row: 6;
  }
  .organizers__events {
    grid-column: 1/33;
    grid-row: 7;
  }
  .organizers__events p {
    margin-top: 10px;
  }
  .organizers__i-love-best-lviv-logo {
    grid-column: 1/33;
    grid-row: 9;
  }
  .organizers__i-love-best-lviv-logo img {
    max-width: 400px;
  }
  .organizers__members-photo-2 {
    grid-column: 1/33;
    grid-row: 10;
  }
  .organizers__best-lviv {
    grid-column: 1/33;
    grid-row: 11;
  }
  .organizers__best-lviv p {
    margin-top: 10px;
  }
  .organizers__members-photo-3 {
    grid-column: 1/33;
    grid-row: 12;
  }
  .organizers__button-1 {
    margin-top: 20px;
    grid-column: 1/17;
    grid-row: 13;
  }
  .organizers__button-2 {
    margin-top: 20px;
    grid-column: 17/33;
    grid-row: 13;
  }
}

/*# sourceMappingURL=organization-section.component.css.map */
