@function adaptive-size($pcSize, $mobSize, $maxWidth: 1536, $minWidth: 390) {
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}


.container{
  position: relative;
  padding: 1px 0 adaptive-size(300, 100) 0;
  margin: 0;
  inset: 0;
  background: rgba(gray, 0.1);
  overflow: hidden;

}

.team{
  position: relative;
  &__header{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: adaptive-size(51, 28);
    color: var(--color-white);
    text-align: center;
  }
  &__swiper{
    padding: 0 0 0 0;
  }
}

.bec {
  margin: 0 auto;
  position: absolute;
  width: adaptive-size(930, 500);
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

.forest{
  position: absolute;
  width: 100%;
  bottom: 0;
}
