
.container{
  position: relative;
  padding: 1px 0 300px 0;
  margin: 0;
  inset: 0;
  background: rgba(gray, 0.1);
}

.speakers{
  position: relative;
  &__header{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 51px;
    color: var(--color-white);
    text-align: center;
  }
  &__swiper{
    padding: 0 0 0 0;
  }
}

.bec {
  position: absolute;
  width: 930px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -2;
}

.forest{
  position: absolute;
  width: 100%;
  bottom: 0;
}
