@function adaptive-size($pcSize, $mobSize, $maxWidth: 1200, $minWidth: 390) {
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}


.container {
  position: relative;
  background-color: var(--color-black);
  padding: adaptive-size(120, 57) 0 adaptive-size(306, 116) 0;
}

.for-link {
  position: absolute;
  top: -70px;
}

.photos {

  &__header {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: adaptive-size(51, 28);
    color: var(--color-white);
    line-height: 1;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}


swiper-container {
  margin: adaptive-size(83, 36) 0 0 0;

}


swiper-slide {
  width: auto;
}

.slide-img {
  width: auto;
}

.slide-block {
  &--1 {

  }

  &--2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.slide-img {
  width: 378px;
  height: auto;
  border-radius: 12px;

  &--2 {
    margin-bottom: 16px;
  }
}
