

<div class="container">
  <div class="for-link" id="gallery"></div>

  <div class="photos">
    <h3 class="photos__header">НАШІ ФОТО</h3>

    <swiper-container
      class="mySwiper"
      slide-to-clicked-slide="true"
      space-between="16"
      centered-slides="true"
      slides-per-view="auto"
      loop="true"
      initial-slide="3"
      autoplay="true"
      autoplay-delay="2000"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide>
        <div class="slide-block slide-block--2">
          <img src="/photos-section/11.png" alt="photo" class="slide-img slide-img--2"/>
          <img src="/photos-section/12.png" alt="photo" class="slide-img"/>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-block slide-block--1">
          <img src="/photos-section/2.png" alt="photo" class="slide-img"/>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-block slide-block--2">
          <img src="/photos-section/31.png" alt="photo" class="slide-img slide-img--2"/>
          <img src="/photos-section/32.png" alt="photo" class="slide-img"/>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-block slide-block--1">
          <img src="/photos-section/4.png" alt="photo" class="slide-img"/>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-block slide-block--2">
          <img src="/photos-section/51.png" alt="photo" class="slide-img slide-img--2"/>
          <img src="/photos-section/52.png" alt="photo" class="slide-img"/>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-block slide-block--1">
          <img src="/photos-section/6.png" alt="photo" class="slide-img"/>
        </div>
      </swiper-slide>


    </swiper-container>
  </div>
</div>





