@function adaptive-size($pcSize, $mobSize, $maxWidth: 1536, $minWidth: 320) {
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}

.flip-card {
  border: 1px solid red;
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 332px;
  perspective: 1000px;

  &.flipped .flip-card-inner {
    transform: rotateX(180deg);
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateX(180deg);
}

$border-radius-size: adaptive-size(20, 12);


.speaker-card {
  border-radius: $border-radius-size;
  padding: $border-radius-size;
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__img {
    border-radius: $border-radius-size 0 0 $border-radius-size;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__content {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0 $border-radius-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-size: 32px;
    color: var(--color-black);
    margin: 0;
    text-align: start;
  }

  &__position {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: var(--color-black);
    margin: 0;
    text-align: start;
    line-height: 1.5;
  }

  &__description {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    color: var(--color-black);
    text-align: start;
  }

  &__more {
    display: none;
  }

  &__socials {
    //border: 1px solid red;
    display: flex;
    justify-content: start;
    gap: $border-radius-size;
  }

  &__social {
    width: auto;
    height: 25px;

    &:hover {
      scale: 1.05;
      opacity: 0.6;
    }
  }

  &__social-icon {
    width: 100%;
    height: 100%;
  }

}


.speaker-lecture {
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  border-radius: $border-radius-size;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-size: adaptive-size(38, 28);
    color: var(--color-black);
    margin: 0;
    text-align: center;
  }
}


@media (max-width: 640px) {

  .flip-card {
    padding: 0;
    //height: 400px;
    height: adaptive-size(500, 280);
  }

  .speaker-card {
    height: 100%;
    display: block;

    &__img {
      border-radius: $border-radius-size $border-radius-size 0 0;
      width: 100%;
      height: 55%;
      object-fit: cover;

    }

    &__content {
      padding: 0;
      margin: 0;
      height: 44%;
    }

    &__name {
      font-size: 16px;
      text-align: center;
      line-height: 2;
    }

    &__position {
      font-size: 13px;
      text-align: center;
    }

    &__description {
      display: none;
      font-size: 16px;
      margin: 0;
      text-align: start;
    }

    &__more {
      font-family: "Work Sans", sans-serif;
      font-size: 12px;
      display: block;

      span {
        text-decoration: underline;
      }
    }

    &__socials {
      height: 15px;
      align-items: center;
      justify-content: center;
    }

    &__social {
      height: 100%;

      &:hover {
        scale: 1;
        opacity: 1;
      }
    }

    &__social-icon {
      width: 100%;
      height: 100%;
    }

  }

  .speaker-lecture {
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    border-radius: $border-radius-size;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__text {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-size: adaptive-size(38, 28);
      color: var(--color-black);
      margin: 0;
      text-align: center;
    }
  }


}


