<div class="flip-card" (click)="flipCard()" [class.flipped]="isFlipped">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="speaker-card">

        <img [src]="imageUrl" alt="{{ name }}" loading="lazy" class="speaker-card__img">

        <div class="speaker-card__content">
          <div class="speaker-card__name-position-wrapper">
            <h2 class="speaker-card__name">{{ name }}</h2>
            <p class="speaker-card__position">{{ position }}</p>
          </div>
          <div class="speaker-card__description">
            <p class="speaker-card__time">{{ time }}</p>
            <p class="speaker-card__place">{{ place }}</p>
          </div>
          <p class="speaker-card__more">
            <span class="speaker-card__more-text">Дізнатися більше</span>
            <span class="speaker-card__more-arrow"> ˆ</span>
          </p>

          <div class="speaker-card__socials">
            <a *ngIf="instagramUrl" [href]="instagramUrl" class="speaker-card__social"
               (click)="$event.stopPropagation()">
              <img src="/speakers-section/instagram.svg" alt="Instagram"
                   class="speaker-card__social-icon">
            </a>
            <a *ngIf="telegramUrl" [href]="telegramUrl" class="speaker-card__social" (click)="$event.stopPropagation()">
              <img src="/speakers-section/telegram.svg" alt="Telegram"
                   class="speaker-card__social-icon">
            </a>
            <a *ngIf="linkedinUrl" [href]="linkedinUrl" class="speaker-card__social" (click)="$event.stopPropagation()">
              <img src="/speakers-section/linkedin.svg" alt="LinkedIn"
                   class="speaker-card__social-icon">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-card-back">
      <div class="speaker-lecture">
        <p class="speaker-lecture__text">{{ lectureTitle }}</p>
        <div class="speaker-lecture__description">
          <p class="speaker-lecture__lecture-title"><span class="speaker-lecture__point-title">Тема:</span> {{ lectureTitle }}</p>
          <p class="speaker-lecture__time"><span class="speaker-lecture__point-title">Коли:</span> {{ time }}</p>
          <p class="speaker-lecture__place"><span class="speaker-lecture__point-title">Де:</span> {{ place }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

