.container {
  position: relative;
  width: 100%;
  background: var(--color-gray) url("/bot-section/grid.png") center center/cover no-repeat;
  z-index: 10;
  height: 100%;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  padding: 0 clamp(10px, 10px + 30 * (100vw - 390px) / 1146, 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ladder__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ladder__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.group {
  height: 100%;
  display: flex;
  justify-content: center;
  width: clamp(36px, 36px + 89 * (100vw - 390px) / 1146, 125px);
}
.group:not(:last-child) .group__block {
  border-bottom: clamp(3px, 3px + 3 * (100vw - 390px) / 1146, 6px) solid #7b7b7b;
}
.group--small {
  height: 50%;
}
.group__block {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: clamp(10px, 10px + 16 * (100vw - 390px) / 1146, 26px);
  color: #7b7b7b;
  width: 50%;
  display: flex;
  align-items: center;
}
.group__block--left {
  border-right: clamp(1.5px, 1.5px + 1.5 * (100vw - 390px) / 1146, 3px) solid #7b7b7b;
  justify-content: flex-start;
}
.group__block--right {
  border-left: clamp(1.5px, 1.5px + 1.5 * (100vw - 390px) / 1146, 3px) solid #7b7b7b;
  justify-content: flex-end;
}
.group__block--future {
  font-family: "SegmentAKeyTrial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(22px, 22px + 29 * (100vw - 390px) / 1146, 51px);
  justify-content: center;
}
.group__block--now {
  position: relative;
  overflow: visible;
}
.group__tap {
  position: relative;
}
.group__tap-box {
  background: url("/bot-section/flag.png") center center/cover no-repeat;
  left: 10px;
  height: clamp(34px, 34px + 36 * (100vw - 390px) / 1146, 70px);
  width: clamp(142px, 142px + 118 * (100vw - 390px) / 1146, 260px);
  position: absolute;
  display: flex;
  align-items: center;
}
.group__tap-box p {
  margin-left: 10px;
  font-size: clamp(9px, 9px + 7 * (100vw - 390px) / 1146, 16px);
  font-family: "Gilroy", sans-serif;
  color: var(--color-white);
}
.group__now-text {
  position: absolute;
  z-index: 2;
}
.group__now-image {
  height: clamp(16px, 16px + 26 * (100vw - 390px) / 1146, 42px);
  position: absolute;
  left: -1px;
  max-width: none;
  z-index: 1;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.content__header {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: clamp(28px, 28px + 23 * (100vw - 390px) / 1146, 51px);
  color: var(--color-white);
  margin: clamp(30px, 30px + 11 * (100vw - 390px) / 1146, 41px) 0 clamp(20px, 47px + -27 * (100vw - 390px) / 1146, 47px) 0;
  text-align: center;
}
.content__planet-box {
  margin: 0 auto;
  position: relative;
  width: 700px;
  height: 700px;
}
.test {
  padding: 0 clamp(22px, 22px + 28 * (100vw - 390px) / 1146, 50px);
  z-index: 10;
  margin: clamp(25px, 25px + 25 * (100vw - 390px) / 1146, 50px) auto clamp(27px, 27px + 46 * (100vw - 390px) / 1146, 73px) auto;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid var(--color-white);
  border-radius: 24px;
}
.about__wrapper {
  width: 100%;
  padding: clamp(10px, 10px + 15 * (100vw - 390px) / 1146, 25px);
}
.about__header {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: clamp(22px, 22px + 16 * (100vw - 390px) / 1146, 38px);
  color: var(--color-white);
  margin: 0;
  line-height: 1;
}
.about__description {
  margin-top: 1em;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
}

@media (max-width: 1320px) {
  .content__planet-box {
    height: clamp(130px, 130px + 570 * (100vw - 100px) / 1220, 700px);
    width: clamp(130px, 130px + 570 * (100vw - 100px) / 1220, 700px);
  }
}
@media (max-width: 1400px) {
  .group__now-image {
    height: clamp(16px, 16px + 26 * (100vw - 390px) / 1146, 42px);
    width: clamp(70px, 70px + 60 * (100vw - 390px) / 1146, 130px);
    bottom: 100%;
    left: 0;
    transform: rotate(90deg);
    transform-origin: left bottom;
  }
  .group__now-text {
    top: 20%;
    left: 0;
    transform: rotate(90deg);
  }
  .group__block--future span {
    top: 20%;
    left: 0;
    transform: rotate(90deg);
  }
}

/*# sourceMappingURL=bot-section.component.css.map */
