@function adaptive-size($pcSize, $mobSize) {
  $minWidth: 390;
  $maxWidth: 1536;
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}


@function adaptive-size2($pcSize, $mobSize) {
  $minWidth: 100;
  $maxWidth: 1320;
  $addSize: $pcSize - $mobSize;
  $maxWidthCalc: $maxWidth - $minWidth;

  $min: min($pcSize, $mobSize);
  $max: max($pcSize, $mobSize);

  @return calc(clamp(#{$min + px},
  #{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidthCalc}),
  #{$max + px}));
}


.container {
  position: relative;
  width: 100%;
  background: var(--color-gray) url('/bot-section/grid.png') center center/cover no-repeat;
  z-index: 10;
  height: 100%;

}

.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1350px;
  width: 100%;
  padding: 0 adaptive-size(40, 10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.ladder__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ladder__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.group {
  height: 100%;
  display: flex;
  justify-content: center;
  width: adaptive-size(125, 36);


  &:not(:last-child) {
    .group__block {
      border-bottom: adaptive-size(6, 3) solid #7b7b7b;
    }
  }

  &--small {
    height: 50%;
  }

  &__block {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: adaptive-size(26, 10);
    color: #7b7b7b;
    width: 50%;
    display: flex;
    align-items: center;

    &--left {
      border-right: adaptive-size(3, 1.5) solid #7b7b7b;
      justify-content: flex-start;
    }

    &--right {
      border-left: adaptive-size(3, 1.5) solid #7b7b7b;
      justify-content: flex-end;
    }

    &--future {
      font-family: 'Segment A Key Trial Bold', sans-serif;
      font-style: normal;
      font-size: adaptive-size(51, 22);
      justify-content: center;
    }

    &--now {
      position: relative;
      overflow: visible;
    }
  }
  &__tap{
    position: relative;
  }
  &__tap-box{
    background: url("/bot-section/flag.png") center (center/ cover) no-repeat;
    left: 10px;
    height: adaptive-size(70, 34);
    width: adaptive-size(260, 142);
    position: absolute;
    display: flex;
    align-items: center;
    p{
      margin-left: 10px;
      font-size: adaptive-size(16, 9);
      font-family: 'Gilroy', sans-serif;
      color: var(--color-white);
    }

  }

  &__now-text {
    position: absolute;
    z-index: 2;
  }

  &__now-image {
    height: adaptive-size(42, 16);
    position: absolute;
    left: -1px;
    max-width: none;
    z-index: 1;
    overflow: hidden;


  }
}


.content {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  padding: 0;

  &__header {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: adaptive-size(51, 28);
    color: var(--color-white);
    margin: adaptive-size(41, 30) 0 adaptive-size(20, 47) 0;
    text-align: center;
  }

  &__planet-box {
    margin: 0 auto;
    //border: 1px solid red;
    position: relative;
    width: 700px;
    height: 700px;

    //transform: scale(1.4);
  }

  &__link {
  }

}

.test {
  padding: 0 adaptive-size(50, 22);
  z-index: 10;
  margin: adaptive-size(50, 25) auto adaptive-size(73, 27) auto;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid var(--color-white);
  border-radius: 24px;

  &__wrapper {
    width: 100%;
    padding: adaptive-size(25, 10);
  }

  &__header {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: adaptive-size(38, 22);
    color: var(--color-white);
    margin: 0;
    line-height: 1;
  }

  &__description {
    margin-top: 1em;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white);

  }
}


@media (max-width: 1320px) {
  .content__planet-box {
    height: adaptive-size2(700, 130);
    width: adaptive-size2(700, 130);

  }
}

@media (max-width: 1400px) {
  .group__now-image {
    height: adaptive-size(42, 16);
    width: adaptive-size(130, 70);
    bottom: 100%;
    left: 0;
    transform: rotate(90deg);
    transform-origin: left bottom;
  }
  .group__now-text {
    top: 20%;
    left: 0;
    transform: rotate(90deg);
  }
  .group__block--future {
    span {
      top: 20%;
      left: 0;
      transform: rotate(90deg);
    }
  }
}
