<div class="container">
  <div class="ladder">
    <div class="ladder__wrapper">

      <div class="ladder__left">

        <div class="group group--small">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">I</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">II</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">III</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">IV</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">V</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">VI</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left">VII</div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group group--small">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right"></div>
        </div>
      </div>
      <div class="ladder__right">
        <div class="group group--small">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right"></div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right">VIII</div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right">IX</div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right">X</div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right">XI</div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right">XII</div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right group__block--now">
            <p class="group__now-text">XIII</p>
            <!--          <img src="/bot-section/flag.png" alt="flag" class="group__now-image">-->
          </div>
        </div>
        <div class="group">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right group__block--future">FUTURE</div>
        </div>
        <div class="group group--small">
          <div class="group__block group__block--left"></div>
          <div class="group__block group__block--right"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper">
    <div class="content">
      <h3 class="content__header">НАШ БОТ</h3>
      <a [href]="'https://t.me/btw13_bot'" target="_blank" class="content__link">
        <app-planet class="content__planet"></app-planet>
      </a>

      <div class="about">
        <div class="about__wrapper">
          <div class="about__header">ЩО ВМІЄ ЦЕЙ БОТ?</div>
          <div class="about__description">
            Перегляд розкладу? Дізнатисяя саме в якій аудиторії лекція? Можливість долучитися до чату для крутого
            спілкування? Знати всі апдейти? Можливість заповнити форму BEST Lviv?<br><br> Це все присутнє в нашому
            телеграм
            боті BTW XIII !
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
