<div class="marquee">
  <div class="marquee-content scroll">
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>END</div>
  </div>
  <div class="marquee-content scroll">
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>TEXT</div>
    <div>END</div>
  </div>
</div>
