$gap: 1rem;

.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  gap: $gap;
  position: relative;
  user-select: none;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: $gap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - $gap));
  }
}

.scroll {
  animation: scroll 10s linear infinite;
}
