<div class="marquee">
  <div class="marquee-content scroll">
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
  </div>
  <div class="marquee-content scroll">
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
  </div>
</div>


<!--<div>09.09 - 13.09</div>-->
<!--<div>1 корпус НУ "ЛП"</div>-->
