<div class="marquee">
  <div class="marquee-content scroll">
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
  </div>
  <div class="marquee-content scroll">
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
    <div>COME WITH BTW</div>
  </div>
</div>


