
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at atque consequuntur dolorem doloremque earum error eum in ipsum nesciunt nostrum porro quasi quidem temporibus ut velit voluptate, voluptatem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at atque consequuntur dolorem doloremque earum error eum in ipsum nesciunt nostrum porro quasi quidem temporibus ut velit voluptate, voluptatem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at atque consequuntur dolorem doloremque earum error eum in ipsum nesciunt nostrum porro quasi quidem temporibus ut velit voluptate, voluptatem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at atque consequuntur dolorem doloremque earum error eum in ipsum nesciunt nostrum porro quasi quidem temporibus ut velit voluptate, voluptatem!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda at atque consequuntur dolorem doloremque earum error eum in ipsum nesciunt nostrum porro quasi quidem temporibus ut velit voluptate, voluptatem!


<!--побавитись з ngSrc треба-->



<!--<app-custom-cursor></app-custom-cursor>-->
<!--<app-scroll-progress></app-scroll-progress>-->


<!--<app-star-background></app-star-background>-->
<!--<app-planet></app-planet>-->

<app-cursor-trail></app-cursor-trail>
<!--<app-header></app-header>-->
<!--<app-scroll-to-top></app-scroll-to-top>-->
<!--<app-hero></app-hero>-->
<!--<app-marquee></app-marquee>-->

<app-speakers-swiper></app-speakers-swiper>

<!--<app-speaker-card-->
<!--  [name]="'Юлія Ющук'"-->
<!--  [position]="'co-CEO'"-->
<!--  [description]="'Співзасновниця та Chief Process Officer в Sales агенстві, CMO в Don\'t Panic IT Recruiting Agency та Juniverse стартапу для розвитку джунів. Працюю з особистим брендом для продажів, фандрайзингу, рекрутингу'"-->
<!--  [imageUrl]="'speakers/speaker11.png'"-->
<!--  [instagramUrl]="'https://instagram.com/oleksii_tatarchynskyi'"-->
<!--  [telegramUrl]="'https://t.me/spiowm'"-->
<!--  [linkedinUrl]="'https://www.linkedin.com/in/oleksii-tatarchynskyi-5a81b8196'"-->
<!--  [lectureTitle]="'Особистий бренд в IT'"-->
<!--&gt;</app-speaker-card>-->

<app-speaker-card
  [name]="'Юлія Ющук4'"
  [position]="'co-CEO'"
  [description]="'Співзасновниця та Chief Process Officer в Sales агенстві, CMO в Don\'t Panic IT Recruiting Agency та Juniverse стартапу для розвитку джунів. Працюю з особистим брендом для продажів, фандрайзингу, рекрутингу'"
  [imageUrl]="'speakers/speaker11.png'"
  [instagramUrl]="'https://instagram.com/oleksii_tatarchynskyi'"
  [telegramUrl]="'https://t.me/spiowm'"
  [linkedinUrl]="'https://www.linkedin.com/in/oleksii-tatarchynskyi-5a81b8196'"
  [lectureTitle]="'Особистий бренд в IT'"
></app-speaker-card>

<app-team-swiper></app-team-swiper>
<app-test-swiper></app-test-swiper>
<app-somec></app-somec>
<app-somec2></app-somec2>


<!--<app-footer></app-footer>-->
