
<!--побавитись з ngSrc треба-->


<!--<app-scroll-to-top></app-scroll-to-top>-->


<app-star-background-fixed></app-star-background-fixed>

<app-cursor-trail></app-cursor-trail>
<app-header></app-header>
<app-hero-section></app-hero-section>
<app-marquee1></app-marquee1>
<!--<app-bot-section></app-bot-section>-->
<app-marquee2></app-marquee2>
<!--<app-speakers-section></app-speakers-section>-->

<!--<app-somec></app-somec>-->
<!--&lt;!&ndash;<app-somec2></app-somec2>&ndash;&gt;-->
<!--<app-team-section></app-team-section>-->
<!--<app-photos-section></app-photos-section>-->
<!--<app-footer></app-footer>-->


