
<!--побавитись з ngSrc треба-->


<!--перепиши star-background, щоб він постійно у фоні-->
<!--<app-scroll-to-top></app-scroll-to-top>-->

<!--<app-star-background></app-star-background>-->
<app-cursor-trail></app-cursor-trail>
<app-header></app-header>
<app-hero-section></app-hero-section>

<app-marquee1></app-marquee1>
<app-bot-section></app-bot-section>
<app-marquee2></app-marquee2>
<app-speakers-section></app-speakers-section>
<app-marquee2></app-marquee2>
<app-team-section></app-team-section>


<app-somec></app-somec>
<app-somec2></app-somec2>


<!--<app-footer></app-footer>-->
