<div class="planet">
  <img src="/bot-section/c1.png" alt="orbit" class="planet__orbit planet__orbit--1" loading="lazy">
  <img src="/bot-section/c2.png" alt="orbit" class="planet__orbit planet__orbit--2" loading="lazy">
  <img src="/bot-section/c3.png" alt="orbit" class="planet__orbit planet__orbit--3" loading="lazy">
  <img src="/bot-section/c4.png" alt="orbit" class="planet__orbit planet__orbit--4" loading="lazy">
  <a [href]="'https://t.me/btw2024_bot'" target="_blank" class="planet__link">
    <img src="/bot-section/planet658.png" alt="planet" class="planet__ball" loading="lazy">
  </a>

</div>
