<div class="planet">
  <img src="/bot-section/1.png" alt="orbit" class="planet__orbit planet__orbit--1">
  <img src="/bot-section/2.png" alt="orbit" class="planet__orbit planet__orbit--2">
  <img src="/bot-section/3.png" alt="orbit" class="planet__orbit planet__orbit--3">
  <img src="/bot-section/4.png" alt="orbit" class="planet__orbit planet__orbit--4">
  <video class="planet__ball"
         [autoplay]="true"
         [muted]="true"
         [loop]="true"
         [preload]="true"
         #videoPlayer
         [src]="'/bot-section/02.webm'"
         [playbackRate]="3.5"
         type="video/webm">
  </video>
</div>
