
@import 'styles/custom-scrollbar.scss';
@import 'styles/fonts.scss';


:root {
  --color-white: #F7F7F7;
  --color-dark-purple: #3A1972;
  --color-light-purple: #6109D1;
  --color-gray: #181818;
  --color-black: #080808;
}

* {
  box-sizing: border-box;
  cursor: none !important;
  //cursor: url("../public/rocket_cursor2.svg"), auto !important;
}


html{
  font-size: 16px;
}

body {
  height: 100%;
  //background-color: var(--color-black);
  background-color: green;
  margin: 0;
  padding: 0;
}



@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}



