
@import 'styles/custom-scrollbar.scss';
@import 'styles/fonts.scss';


:root {
  --color-white: #F7F7F7;
  --color-dark-purple: #3A1972;
  --color-light-purple: #6109D1;
  --color-gray: #181818;
  --color-black: #080808;
}

* {
  box-sizing: border-box;
  cursor: none !important;
}


html{
  font-size: 16px;
  overflow-x: hidden;

}

body {
  height: 100%;
  background-color: var(--color-black);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
