<!--class="mySwiper"-->

<!--pagination="true"-->
<!--breakpoints='{"320": {"slidesPerView": 2}, "768": {"slidesPerView": 2}, "1024": {"slidesPerView": 2}}'-->
<!--class="mySwiper"-->

<!--pagination="true"-->
<!--pagination-clickable="true"-->


<!--slides-per-view="2"-->
<!--navigation="true"-->

<div class="speaker-card__blur"></div>

<div class="swiper-container-wrapper">

  <div class="swiper-container">
    <swiper-container
      #swiper1
      slides-per-view="2"
      pagination="true"
      pagination-clickable="true"
      navigation="false"
      space-between="15"
    >
      <swiper-slide>
        <app-speaker-card
          [name]="'Артур Дмитришин'"
          [position]="'Автор блогу Кіп Ґоінґ'"
          [time]="'9 вересня о 14:50'"
          [place]="'217 аудиторія, НУЛП 1 корпус'"
          [imageUrl]="'speakers-section/s11.png'"
          [instagramUrl]="'https://www.instagram.com/talllesty/'"
          [telegramUrl]="'https://t.me/keepgoingblog'"
          [linkedinUrl]="'https://www.linkedin.com/in/talllesty/'"
          [lectureTitle]="'Прості поради, які роблять життя трохи кращим'"
        ></app-speaker-card>
      </swiper-slide>
      <swiper-slide>
        <app-speaker-card
          [name]="'Сергій Притула'"
          [position]="'Громадський діяч, засновник Фонду Притули'"
          [time]="'10 вересня о 12:00'"
          [place]="'Актова зала, НУЛП 1 корпус'"
          [imageUrl]="'speakers-section/s22.png'"
          [instagramUrl]="'https://www.instagram.com/siriy_ua/'"
          [telegramUrl]="'https://t.me/serhiyprytula'"
          [lectureTitle]="'Волонтерство в Україні: Від щирого бажання до реальних дій, як волонтерство змінює суспільство'"
        ></app-speaker-card>
      </swiper-slide>
      <swiper-slide>
        <app-speaker-card
          [name]="'Олексій Сопілко'"
          [position]="'Актор театру, озвучки і дубляжу, тренер з ораторського мистецтва'"
          [time]="'11 вересня о 14:50'"
          [place]="'116 авдиторія, НУЛП 1 корпус'"
          [imageUrl]="'speakers-section/s33.png'"
          [instagramUrl]="'https://www.instagram.com/oleksiy_sopilko?igsh=MW0ycnN0Z2k5djQyYg=='"
          [lectureTitle]="'Впевнена комунікація та сила голосу'"
        ></app-speaker-card>
      </swiper-slide>
      <swiper-slide>
        <app-speaker-card
          [name]="'Марʼяна Гірняк'"
          [position]="'Телеведуча, культурна блогерка та лекторка'"
          [time]="'12 вересня о 14:50'"
          [place]="'217 авдиторія, НУЛП 1 корпус'"
          [imageUrl]="'speakers-section/s44.png'"
          [instagramUrl]="'https://www.instagram.com/mariana.hirniak/'"
          [lectureTitle]="'Уроки лідерства на прикладі Андрея Шептицького, Степана Бандери та Романа Шухевича'"
        ></app-speaker-card>
      </swiper-slide>
      <swiper-slide>
        <app-speaker-card
          [name]="'Богдан Гайдейчук'"
          [position]="'Експерт з туристичного спорядження, гід, мандрівник'"
          [time]="'13 вересня о 13:15'"
          [place]="'217 авдиторія, НУЛП 1 корпус'"
          [imageUrl]="'speakers-section/s55.png'"
          [instagramUrl]="'https://www.instagram.com/g_bboddya?igsh=MWl5M2IyYTJ1b2dzZg=='"
          [lectureTitle]="'Активний туризм у Карпатах: вибір спорядження та одягу'"
        ></app-speaker-card>
      </swiper-slide>
    </swiper-container>

    <button class="custom-nav-button custom-prev-button" (click)="prevSlide()">
      <img src="/speakers-section/left-arrow.svg" alt="Previous">
    </button>
    <button class="custom-nav-button custom-next-button" (click)="nextSlide()">
      <img src="/speakers-section/right-arrow.svg" alt="Next">
    </button>
  </div>
</div>
