<swiper-container #swiper
  effect="coverflow"
  slide-to-clicked-slide="true"
  allow-touch-move="false"
  loop="true"
  navigation="true"
  slides-per-view="3"
  speed="500">
  <swiper-slide>
    <img src="https://picsum.photos/200/300?random=1" alt="image1">
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/200/300?random=2" alt="image2">
  </swiper-slide>
  <swiper-slide>
    <img src="https://picsum.photos/200/300?random=3" alt="image3">
  </swiper-slide>

  <swiper-slide>
    <img src="https://picsum.photos/200/300?random=4" alt="image4">
  </swiper-slide>

  <swiper-slide>
    <img src="https://picsum.photos/200/300?random=5" alt="image5">
  </swiper-slide>


</swiper-container>
